API_HOST=0.0.0.0
API_PORT=8000
DATA_DIR=./data
# GOOGLE_API_KEY no se usa en este proyecto, empleamos ADC de gcloud.
VERTEX_MODEL=gemini-2.5-flash
VERTEX_LOCATION=us-central1
GOOGLE_CLOUD_PROJECT=your_project_id_here
