API_HOST=0.0.0.0
API_PORT=8000
DATA_DIR=./data
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
